
@model HomeShare.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<!-- banner -->
<div class="inside-banner">
    <div class="container">
        <span class="pull-right"><a href="#">Home</a> / Register</span>
        <h2>Register</h2>
    </div>
</div>
<!-- banner -->


<div class="container">
    <div class="spacer">
        <div class="row register">
            <form action="/Account/Register" method="post">
                @Html.AntiForgeryToken()
                <div class="col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 ">


                    <input type="text" class="form-control" placeholder="Nom" name="Nom">
                    @Html.ValidationMessageFor(model => model.membreModel.Nom, "", new { @class = "text-danger" })

                    <input type="text" class="form-control" placeholder="Prénom" name="Prenom">
                    @Html.ValidationMessageFor(model => model.membreModel.Prenom, "", new { @class = "text-danger" })

                    <input type="text" class="form-control" placeholder="Email" name="Email">
                    @Html.ValidationMessageFor(model => model.membreModel.Email, "", new { @class = "text-danger" })

                    <input type="text" class="form-control" placeholder="Telephone" name="Telephone">
                    @Html.ValidationMessageFor(model => model.membreModel.Telephone, "", new { @class = "text-danger" })


                    @*@Html.ValidationMessageFor(model => model.membreModel.Pays, "", new { @class = "text-danger" })*@
                    <input type="text" class="form-control" placeholder="Login" name="Login">
                    @Html.ValidationMessageFor(model => model.membreModel.Login, "", new { @class = "text-danger" })

                    <input type="text" class="form-control" placeholder="Password" name="Password">
                    @Html.ValidationMessageFor(model => model.membreModel.Password, "", new { @class = "text-danger" })

                    <input type="text" class="form-control" placeholder="ConfirmPassword" name="ConfirmPassword">
                    @Html.ValidationMessageFor(model => model.membreModel.ConfirmPassword, "", new { @class = "text-danger" })




                    <label>Select one </label>
                    <input type="hidden" class="form-control" id="theinput"  placeholder="Pays" name="Pays" />
                    @Html.ValidationMessageFor(model => model.membreModel.Pays, "", new { @class = "text-danger" })

                    <select name="thelist" onChange="combo(this, 'theinput')" onMouseOut="comboInit(this, 'theinput')">
                        @foreach (HomeShare.Models.PaysModel item in Model.paysModel)
                        {
                            <option>@item.Libelle</option>
                        }
                    </select>





                    @*<input type="submit" class="button success" value="Enter" />*@
                    @*@Html.ValidationMessageFor(model => model.membreModel.Pays, "", new { @class = "text-danger" })*@


                    <button type="submit" class="btn btn-success" name="Enter">Register</button>

                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function comboInit(thelist) {
        theinput = document.getElementById(theinput);
        var idx = thelist.selectedIndex;
        var content = thelist.options[idx].innerHTML;
        if (theinput.value == "")
            theinput.value = content;
    }

    function combo(thelist, theinput) {
        theinput = document.getElementById(theinput);
        var idx = thelist.selectedIndex;
        var content = thelist.options[idx].innerHTML;
        theinput.value = idx;
    }
</script>